#w-main {
  padding: 15px;
}

#w-main h1 {
  margin-top: 15px;
}

#w-main .w-rtl {
  direction: rtl;
}

#w-form {
  margin-top: 30px;
}

#w-form .w-form-control {
  margin-bottom: 15px;
}

#w-toc {
  margin-top: 30px;
}

#w-toc > ul {
  padding: 0;
}

#w-toc li {
  list-style: none;
}

@media only screen and (max-width: 400px) {
  #w-form label,
  #w-form input,
  #w-form select{
    display: block;
    width: 100%;
  }
}
